 ***Practice Problem 2***

1. Write a Python program to accept a string value from the user and display
the count of each character in that string

In [3]:
str =input("Enter a string")
for i in str:
  print(i,'=',str.count(i))

Enter a stringassembly
a = 1
s = 2
s = 2
e = 1
m = 1
b = 1
l = 1
y = 1

2. . Write a Python function to find the maximum of three numbers

In [ ]:
m1=int(input('Enter a number'))
m2=int(input('Enter a number'))
m3=int(input('Enter a number'))
sum = max(m1,m2,m3)
print(sum)

Enter a number34
Enter a number12
Enter a number7
34

3. Write a Python function called exponent(base,exp) that returns an
integer value of base raises to the power of exp

In [ ]:
b1 = int(input('Enter the base:'))
b2 = int(input('Enter the exponent:'))
print(b1**b2)

Enter the base:2
Enter the exponent:3
8

4. Write a Python function that takes a positive integer and returns the sum
of the cube of all the positive integers smaller than the specified number

In [ ]:
def sum_c(n):
  r_s=0
  for i in range(1,n):
     r_s += i**3
  return r_s
n = int(input('Enter a no:'))
result = sum_c(n)
print(result)

Enter a no:4
36

5. Write a Python program which iterates from 1 to 10. For multiples of 2,
print “Fizz” instead of the number and for the multiples of 5, print “Buzz”.
For numbers which are multiples of both 2 and 5, print “FizzBuzz”.

In [ ]:
for i in range(1,11):
  if i%2 == 0 and i%5 == 0:
    print("FizzBuzz")
  elif i%2 == 0:
    print("Fizz")
  elif i%5 == 0:
    print("Buzz")
  else:
    print(i)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

6.Write a Python program to find the most frequent item in a list of
numbers.

In [ ]:
l1 = [2, 3, 4, 2, 5, 2 ]
def most_f(l1):
  counter = 0
  num = l1[0]
  for i in l1:
    cur_f = l1.count(i)
    if(cur_f>counter):
      counter = cur_f
      num=i
  return num
print(most_f(l1))

2

7.Write a Python program to find the sum of squares of the numbers in a
list.

In [ ]:
m_list=[2,1,3,1 ]
sum_lt = 0
for i in m_list:
  sum_lt+=i*i
print(sum_lt)

15

8. Write a Python program using for loop that will iterate from 1 to 15. For
each iteration, check if the current number is odd or even, and display the
message to the screen as odd or even.

In [ ]:
for i in range(1,16):
  if i%2 == 0:
    print(i,"-even")
  else:
    print(i,"-odd")

1 -odd
2 -even
3 -odd
4 -even
5 -odd
6 -even
7 -odd
8 -even
9 -odd
10 -even
11 -odd
12 -even
13 -odd
14 -even
15 -odd

9. Write a Python program to convert temperatures to and from Celsius
Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
temperature in Fahrenheit.]

In [ ]:
k= float(input("Enter the temparature"))
n=((k-32)/9)*5
print('Temperature in Fahrenheit=',k)
print('Temperature in Celsius =',n)

Enter the temparature41
Temperature in Fahrenheit= 41.0
Temperature in Celsius = 5.0

10. Write a Python function to calculate the factorial of a number (a
nonnegative integer). The function accepts the number as an argument.

In [ ]:
def factorial(n):
  if n == 0:
    return 1
  else:
    return n*factorial(n-1)
n=int(input('Enter a number :'))
print(factorial(n))

Enter a number :3
6